<section id="{{ title_handle }}" class="grid gap-8 rounded-xl bg-black p-8 text-white">
  <div class="phase__main">
    <span class="uppercase">Phase {{ index }}</span>
    <h2 class="display flex flex-col">
      {{
        block.settings.title
        | replace: '<em>', '<span class="opacity-40">'
        | replace: '</em>', '</span>'
        | replace: '|', '</span><span>'
      }}
    </h2>

    {%- comment -%}start: 2 column row{%- endcomment -%}
    <div class="grid grid-cols-2 gap-8">
      {%- if block.settings.phone_image != blank -%}
        {{ section.settings.phone_image | image_url: width: 640 | image_tag: class: 'w-full h-auto' }}
      {%- else -%}
        <div class="bg-slate/30 aspect-4/3 w-full overflow-hidden rounded-xl"></div>
      {%- endif -%}

      <div class="flex flex-col gap-16">
        <div class="flex flex-col gap-12">
          <p class="text-2xl">{{ block.settings.subtitle }}</p>

          <ul class="flex w-120 max-w-full flex-col gap-6">
            <li class="flex flex-col gap-2">
              <h3 class="text-2xl">{{ block.settings.callout_1_title }}</h3>
              <p class="text-white/40">{{ block.settings.callout_1_text }}</p>
            </li>
            <li class="flex flex-col gap-2">
              <h3 class="text-2xl">{{ block.settings.callout_2_title }}</h3>
              <p class="text-white/40">{{ block.settings.callout_2_text }}</p>
            </li>
            <li class="flex flex-col gap-2">
              <h3 class="text-2xl">{{ block.settings.callout_3_title }}</h3>
              <p class="text-white/40">{{ block.settings.callout_3_text }}</p>
            </li>
          </ul>
        </div>

        <div class="flex items-center gap-8">
          {% render 'button',
            tag: 'a',
            text: block.settings.button_label,
            url: block.settings.button_url,
            variant: 'secondary-fade'
          %}
          <p class="flex flex-col">
            {% assign disclaimer_parts = block.settings.disclaimers | split: '|' %}
            {% for part in disclaimer_parts %}
              <span>{{ part }}</span>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
