{% style %}
  #shopify-section-{{ section.id }} {
     --background-color: {{ section.settings.background_color | default: '#E2E2E2' }};
    --text-color: {{ section.settings.text_color | default: '#000000' }};
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    background-color: {{ section.settings.background_color | default: '#E2E2E2' }};
    color: {{ section.settings.text_color | default: '#000000' }};
  }

  @media screen and (min-width: 750px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<div class="about-section-3 page-width flex flex-col gap-16">
  <div class="flex flex-col gap-16 lg:flex-row lg:flex-wrap lg:justify-between">
    <div class="block lg:hidden">
      {%- if section.settings.eyebrow_icon != blank -%}
        <div class="svg-wrapper">
          {{ section.settings.eyebrow_icon | image_url: width: 48 | image_tag: class: 'w-12 h-12' }}
        </div>
      {%- endif -%}
    </div>

    <div class="order-2 flex flex-col gap-16 lg:order-1 lg:w-1/3">
      <div class="hidden lg:block">
        {%- if section.settings.eyebrow_icon != blank -%}
          <div class="svg-wrapper">
            {{ section.settings.eyebrow_icon | image_url: width: 48 | image_tag: class: 'w-12 h-12' }}
          </div>
        {%- endif -%}
      </div>

      <div class="flex flex-col gap-1">
        <p class="uppercase">{{ section.settings.image_title }}</p>
        <p class="text-muted mb-5 ">{{ section.settings.image_subtitle }}</p>

        <div class="aspect-3/2 overflow-hidden rounded-xl">
          {%- if section.settings.image != blank -%}
            {{
              section.settings.image
              | image_url: width: 3840
              | image_tag:
                width: section.settings.image.width,
                class: 'w-full h-full object-cover',
                sizes: '50vw',
                widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
            }}
          {%- else -%}
            <div class="bg-slate/30 aspect-3/2 overflow-hidden rounded-xl"></div>
          {%- endif -%}
        </div>
      </div>
    </div>
    <div class="order-1 lg:w-1/2">
      <h2 class="mb-4 text-5xl lg:mb-8 lg:text-6xl">{{ section.settings.title }}</h2>
      <div class="rte flex flex-col gap-4">
        {% assign text_processed = section.settings.text | strip %}
        {% if text_processed contains '<i>' or text_processed contains '<em>' %}
          {{
            text_processed
            | replace: '<i>', '<span class="opacity-30">'
            | replace: '</i>', '</span>'
            | replace: '<em>', '<span class="opacity-30">'
            | replace: '</em>', '</span>'
          }}
        {% else %}
          {{ text_processed }}
        {% endif %}
      </div>
    </div>
  </div>

  {%- comment -%}large image start{%- endcomment -%}
  <div class="aspect-video overflow-hidden rounded-xl">
    {%- if section.settings.large_image != blank -%}
      {{
        section.settings.large_image
        | image_url: width: 3840
        | image_tag:
          width: section.settings.large_image.width,
          class: 'w-full h-full object-cover',
          sizes: '50vw',
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
      }}
    {%- else -%}
      <div class="bg-slate/30 -mx-5 aspect-video overflow-hidden rounded-none lg:mx-0 lg:rounded-xl"></div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "About section #3",
  "class": "section-about-section-3",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "eyebrow_icon",
      "label": "Eyebrow icon"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title",
      "default": "Inspired Innovation"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>While in France, I met Dr. Zac Cartun, a physician with a passion for leveraging technology to improve patient care. <em>Inspired by the forward-thinking clinics we visited in Europe, we discovered an opportunity to combine smartphone imaging and the latest additive printing technology to enable a more convenient, cheaper, and ultimately better orthotic.</em></p><p>The last step was finding our master craftsman. That year long search led us to a Oberlaken, Germany where Dominik and his father Dietmar Walter were designing orthotics with exceptional quality. I saw the hours they put into every pair, painstakingly designing based on the individual patients’ pains, conditions, and foot type. After I got my first pair from the Walters, I knew they were our guys.</p><p><em>Combining the Walter craftsmanship with our technology is what makes Stride special. I have seen these orthotics work wonders for my own flat foot pain. I am now able to compete in Ironman competitions which would have been impossible a few short years ago. I hope you are inspired by the Stride orthotics as I am.</em></p>",
      "info": "Use italics to lower text opacity"
    },
    {
      "type": "header",
      "content": "Image and caption"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "inline_richtext",
      "id": "image_title",
      "label": "Image title",
      "default": "Dr. Dominik and Dietmar Walter"
    },
    {
      "type": "inline_richtext",
      "id": "image_subtitle",
      "label": "Image subtitle",
      "default": "Chief Designers for Stride"
    },
    {
      "type": "header",
      "content": "Large full width image"
    },
    {
      "type": "image_picker",
      "id": "large_image",
      "label": "Large image"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "backgound_color",
      "label": "Background color",
      "default": "#E2E2E2"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 320,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 56
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 320,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 56
    }
  ],
  "presets": [
    {
      "name": "About section #3",
      "category": "Uncategorized",
      "settings": {}
    }
  ]
}
{% endschema %}
