{%- style -%}
  #shopify-section-{{section.id }} {
    --text-color: rgb({{section.settings.color_scheme.settings.text.red }}, {{section.settings.color_scheme.settings.text.green }}, {{section.settings.color_scheme.settings.text.blue }});
  }

  .section-{{ section.id }}-main {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }

  @media screen and (min-width: 768px) {
    .section-{{ section.id }}-main {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .section-{{ section.id }}-content {
    padding-top: {{ section.settings.content_box_padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.content_box_padding_bottom | times: 0.50 | round: 0 }}px;
    @media screen and (min-width: 768px) {
      padding-top: {{ section.settings.content_box_padding_top }}px;
      padding-bottom: {{ section.settings.content_box_padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign lazy_load = 'lazy'
  assign fetch_priority = 'auto'

  if section.index == 1
    assign lazy_load = 'auto'
    assign fetch_priority = 'high'
  endif
-%}

<div class="color-{{ section.settings.color_scheme }}" data-animate>
  <div class="section-{{ section.id }}-main gradient{% if section.settings.enable_wrapper %} page-width{% endif %}">
    <div
      class="section-{{ section.id }}-content gradient color-{{ section.settings.inner_color_scheme }} section__main bg-peach max-w-full overflow-hidden{% if section.settings.enable_border_radius %} rounded-xl{% endif %} p-6.5 md:p-8 {{ section.settings.inner_width }} js-section-color relative mx-auto"
      style="--text-color: rgb({{section.settings.inner_color_scheme.settings.text.red }}, {{section.settings.inner_color_scheme.settings.text.green }}, {{section.settings.inner_color_scheme.settings.text.blue }});"
    >
      {%- if section.settings.background_image != blank -%}
        {%- assign bg_image_alt = section.settings.background_image.alt | default: shop.name -%}
        {{
          section.settings.background_image
          | image_url: width: section.settings.background_image.width
          | image_tag: class: 'w-full h-full object-cover absolute inset-0 z-1', alt: bg_image_alt, loading: 'lazy'
        }}
        <div
          class="absolute inset-0 z-2 bg-gradient-to-b from-transparent via-[rgba(var(--color-background),0.7)] to-[rgba(var(--color-background),1)]"
        ></div>
      {%- endif -%}

      <div class="section-{{ section.id }}-content section__content z-3 mx-auto flex max-w-full flex-col gap-4 text-center md:w-2xl md:gap-8">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'icon' -%}
              {%- if block.settings.icon != blank -%}
                {%- assign icon_alt = block.settings.icon.alt | default: shop.name -%}
                <div
                  class="mx-auto h-[60px] w-[60px] md:h-20 md:w-20"
                  data-cascade="{{ forloop.index | times: 0.15 }}"
                  {{ block.shopify_attributes }}
                >
                  {{
                    block.settings.icon
                    | image_url: width: block.settings.icon.width
                    | image_tag:
                      class: 'mx-auto',
                      width: block.settings.icon_size,
                      height: block.settings.icon_size,
                      loading: lazy_load,
                      alt: icon_alt,
                      fetchpriority: fetch_priority
                  }}
                </div>
              {%- endif -%}
            {%- when 'title' -%}
              {%- if block.settings.title != blank -%}
                <h2
                  class="leading-tight capitalize md:text-[62px] {{ block.settings.title_font_size }} {{  block.settings.base_font_weight }} text-{{ block.settings.text_alignment }} {% if block.settings.reduce_margin_bottom %}-mb-2 md:-mb-4{% endif %}"
                  data-cascade="{{ forloop.index | times: 0.15 }}"
                  {{ block.shopify_attributes }}
                >
                  {{ block.settings.title }}
                </h2>
              {%- endif -%}
            {%- when 'text' -%}
              {%- if block.settings.text != blank -%}
                <div
                  class="mx-auto text-{{ block.settings.text_alignment }}"
                  data-cascade="{{ forloop.index | times: 0.15 }}"
                  {{ block.shopify_attributes }}
                >
                  <p class="text-sm md:text-xl">{{ block.settings.text }}</p>
                </div>
              {%- endif -%}
            {%- when 'richtext' -%}
              {%- if block.settings.richtext != blank -%}
                <div
                  class="mx-auto text-{{ block.settings.text_alignment }}"
                  data-cascade="{{ forloop.index | times: 0.15 }}"
                  {{ block.shopify_attributes }}
                >
                  <div class="rte">{{ block.settings.richtext }}</div>
                </div>
              {%- endif -%}
            {%- when 'button' -%}
              <div
                class="flex flex-col items-center gap-3"
                data-cascade="{{ forloop.index | times: 0.15 }}"
                {{ block.shopify_attributes }}
              >
                {%- if block.settings.button_label != blank -%}
                  {% render 'button',
                    tag: 'a',
                    text: block.settings.button_label,
                    url: block.settings.button_url,
                    variant: block.settings.button_type
                  %}
                {%- endif -%}
                <span>{{ block.settings.disclaimer }}</span>
              </div>
            {%- when 'image' -%}
              <div class="mx-auto" data-cascade="{{ forloop.index | times: 0.15 }}" {{ block.shopify_attributes }}>
                {%- if block.settings.image != blank -%}
                  {%- assign bg_image_alt = block.settings.image.alt | default: shop.name -%}
                  {{
                    block.settings.image
                    | image_url: width: block.settings.background_image.width
                    | image_tag: class: 'w-full h-auto rounded-lg', alt: bg_image_alt, loading: 'lazy'
                  }}
                {%- endif -%}
              </div>
            {%- when 'cta-box' -%}
              <div
                class="mx-auto color-{{ block.settings.color_scheme }} rounded-xl p-8 text-{{ block.settings.text_alignment }} my-4 md:my-6"
                data-cascade="{{ forloop.index | times: 0.15 }}"
                {{ block.shopify_attributes }}
              >
                <div class="flex flex-col items-center gap-3">
                  {%- if block.settings.title != blank -%}
                    <h2 class="leading-tight capitalize md:text-[62px] {{ block.settings.title_font_size }} font-semibold">
                      {{ block.settings.title }}
                    </h2>
                  {%- endif -%}
                  <div class="rte">{{ block.settings.richtext }}</div>

                  {% render 'button',
                    tag: 'a',
                    text: block.settings.button_label,
                    url: block.settings.button_url,
                    variant: 'primary'
                  %}
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Call To Action",
  "class": "section-call-to-action js-section-color",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Background image",
      "info": "Can be omitted if you want to use a solid color background"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Content box "
    },
    {
      "type": "color_scheme",
      "id": "inner_color_scheme",
      "label": "Content box color scheme",
      "default": "scheme-5"
    },
    {
      "type": "checkbox",
      "id": "enable_wrapper",
      "label": "Enable wrapper",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_border_radius",
      "label": "Enable border radius",
      "default": true
    },
    {
      "type": "select",
      "id": "inner_width",
      "label": "Content box width",
      "options": [
        {
          "value": "w-[810px]",
          "label": "sm"
        },
        {
          "value": "w-full",
          "label": "full"
        }
      ],
      "default": "w-full"
    },
    {
      "type": "range",
      "id": "content_box_padding_top",
      "min": 0,
      "max": 320,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 32
    },
    {
      "type": "range",
      "id": "content_box_padding_bottom",
      "min": 0,
      "max": 320,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 32
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 320,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 320,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 120
    }
  ],
  "blocks": [
    {
      "type": "icon",
      "name": "Icon",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "range",
          "id": "icon_size",
          "min": 12,
          "max": 200,
          "step": 2,
          "unit": "px",
          "label": "Icon size",
          "default": 82
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "settings": [
        {
          "type": "text_alignment",
          "id": "text_alignment",
          "label": "Text alignment",
          "default": "center"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "6 free months to fall in love with your custom insoles - worry-free!"
        },
        {
          "type": "select",
          "id": "title_font_size",
          "label": "Title font size",
          "options": [
            {
              "value": "text-display-xl",
              "label": "display-xl"
            },
            {
              "value": "text-display-l",
              "label": "display-l"
            },
            {
              "value": "text-display-m",
              "label": "display-m"
            },
            {
              "value": "text-h1",
              "label": "h1"
            },
            {
              "value": "text-h2",
              "label": "h2"
            },
            {
              "value": "text-h3",
              "label": "h3"
            },
            {
              "value": "text-h4",
              "label": "h4"
            },
            {
              "value": "text-h5",
              "label": "h5"
            },
            {
              "value": "text-h6",
              "label": "h6"
            }
          ],
          "default": "text-h3"
        },
        {
          "type": "select",
          "id": "base_font_weight",
          "label": "Base font-weight",
          "options": [
            {
              "value": "font-normal",
              "label": "400"
            },
            {
              "value": "font-medium",
              "label": "500"
            },
            {
              "value": "font-semibold",
              "label": "600"
            },
            {
              "value": "font-bold",
              "label": "700"
            }
          ],
          "default": "font-semibold"
        },
        {
          "type": "checkbox",
          "id": "reduce_margin_bottom",
          "label": "Reduce margin-bottom",
          "default": false
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text_alignment",
          "id": "text_alignment",
          "label": "Text alignment",
          "default": "center"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
          "default": "Not fitting well? Need adjustments? No problem! We’ll adjust your custom insoles to fit like a dream so you can get back to enjoying life pain-free."
        }
      ]
    },
    {
      "type": "richtext",
      "name": "Richtext",
      "settings": [
        {
          "type": "text_alignment",
          "id": "text_alignment",
          "label": "Text alignment",
          "default": "center"
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "Richtext"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "url",
          "id": "button_url",
          "label": "Button url"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Take the Quiz"
        },
        {
          "type": "inline_richtext",
          "id": "disclaimer",
          "label": "Disclaimer",
          "default": "180 Return Policy"
        },
        {
          "type": "select",
          "id": "button_type",
          "label": "Button type",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "tertiary",
              "label": "Tertiary"
            }
          ],
          "default": "primary"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "cta-box",
      "name": "CTA Box",
      "settings": [
        {
          "type": "text_alignment",
          "id": "text_alignment",
          "label": "Text alignment",
          "default": "center"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "TItle",
          "default": "If you regularly have sharp pain in your heel and can relate to any of the above, it may be plantar fasciitis you’re experiencing. "
        },
        {
          "type": "select",
          "id": "title_font_size",
          "label": "Title font size",
          "options": [
            {
              "value": "text-display-xl",
              "label": "display-xl"
            },
            {
              "value": "text-display-l",
              "label": "display-l"
            },
            {
              "value": "text-display-m",
              "label": "display-m"
            },
            {
              "value": "text-h1",
              "label": "h1"
            },
            {
              "value": "text-h2",
              "label": "h2"
            },
            {
              "value": "text-h3",
              "label": "h3"
            },
            {
              "value": "text-h4",
              "label": "h4"
            },
            {
              "value": "text-h5",
              "label": "h5"
            },
            {
              "value": "text-h6",
              "label": "h6"
            }
          ],
          "default": "text-h3"
        },
        {
          "type": "richtext",
          "id": "richtext",
          "label": "Richtext",
          "default": "<p>If you regularly have sharp pain in your heel and can relate to any of the above, it may be plantar fasciitis you’re experiencing. If you’re experiencing pain in your heel, it’s important to get it checked out by a doctor. You can also get a free consultation with a podiatrist to help you determine the best course of treatment for your specific needs.</p>"
        },
        {
          "type": "inline_richtext",
          "id": "button_label",
          "label": "Button label",
          "default": "Buy Stride"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button url"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "Color scheme",
          "default": "scheme_1"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Call To Action",
      "category": "STRIDE",
      "settings": {
        "enable_wrapper": false,
        "enable_border_radius": false,
        "inner_width": "w-full",
        "content_box_padding_top": 32,
        "content_box_padding_bottom": 32,
        "padding_top": 0,
        "padding_bottom": 0
      },
      "blocks": [
        {
          "type": "icon",
          "settings": {
            "icon": "shopify://shop_images/icon-check-circle.svg",
            "icon_size": 82
          }
        },
        {
          "type": "title",
          "settings": {
            "text_alignment": "center",
            "title": "6 free months to fall in love with your custom insoles - worry-free!",
            "title_font_size": "text-h2",
            "base_font_weight": "font-semibold",
            "reduce_margin_bottom": false
          }
        },
        {
          "type": "richtext",
          "settings": {
            "text_alignment": "center",
            "richtext": "<p>Not fitting well? Need adjustments? No problem! We’ll adjust your custom insoles to fit like a dream so you can get back to enjoying life pain-free.</p>"
          }
        },
        {
          "type": "button",
          "settings": {
            "button_url": "/pages/quiz?pairs=1",
            "button_label": "Take the Quiz",
            "disclaimer": "180 Day Satisfaction Guarentee",
            "button_type": "primary"
          }
        }
      ]
    }
  ]
}
{% endschema %}
