{%- style -%}
  .section-{{ section.id }} {
    --background-color: {{ section.settings.background_color | default: 'transparent' }};
    --text-color: {{ section.settings.text_color | default: '#000000`' }};
    --title-accent-color: {{ section.settings.title_accent_color | default: 'rgba(0,0,0,0.3)' }};
    background-color: white;
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign lazy_load = true
  assign fetch_priority = 'auto'

  if section.index == 1
    assign lazy_load = false
    assign fetch_priority = 'high'
  endif
-%}

<div class="section-{{ section.id }} page-width">
  <div class="section__main flex flex-col gap-12">
    <div class="section__header text-center">
      {% render 'section-title', section: section %}
    </div>
    <div class="section__content">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-4">
        {% for block in section.blocks %}
          <div class="group flex flex-row items-start gap-4 rounded-xl border border-black/10 p-4 transition-colors duration-300 ease-in-out hover:bg-black hover:text-white md:gap-8 lg:flex-col">
            <div class="flex h-8 w-8 shrink-0 items-center justify-center rounded-full bg-[#EACBA466] transition-colors duration-300 ease-in-out group-hover:bg-white md:h-14 md:w-14">
              {{
                block.settings.icon
                | image_url: width: 60
                | image_tag:
                  class: 'w-5 h-5 md:w-8 md:h-8',
                  loading: lazy_load,
                  alt: block.settings.icon,
                  fetchpriority: fetch_priority
              }}
            </div>
            <div class="">
              <h3 class="leading-snug font-semibold tracking-tight md:text-2xl">
                {{
                  block.settings.title
                  | replace: '<em>', '<span class="opacity-40">'
                  | replace: '</em>', '</span>'
                  | replace: '|', '</span><span>'
                }}
              </h3>
              <p class="mt-2 text-sm text-black/60 transition-colors duration-300 ease-in-out group-hover:text-white/60 md:mt-4 md:text-base">
                {{
                  block.settings.text
                  | replace: '<em>', '<span class="opacity-40">'
                  | replace: '</em>', '</span>'
                  | replace: '|', '</span><span>'
                }}
              </p>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>

    {%- if section.settings.button_label != blank or section.settings.disclaimer != blank -%}
      <div class="section__footer flex flex-col items-center gap-4">
        {%- if section.settings.button_label != blank -%}
          {% render 'button',
            type: 'a',
            variant: 'primary',
            text: section.settings.button_label,
            url: section.settings.button_url
          %}
        {%- endif -%}

        {%- if section.settings.disclaimer != blank -%}
          <span class="text-[#666666] md:text-xl">{{ section.settings.disclaimer }}</span>
        {%- endif -%}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Feature multicolumn row",
  "class": "section-feature-multicolumn-row",
  "settings": [
    {
      "type": "header",
      "content": "Title"
    },
    {
      "type": "paragraph",
      "content": "To accent a word or phrase, wrap it in italics."
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Title",
      "default": "Why Should You <em>Choose Stride Soles</em>"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button url"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label",
      "default": "Take The Quiz"
    },
    {
      "type": "inline_richtext",
      "id": "disclaimer",
      "label": "Disclaimer",
      "default": "180-Day Money-Back Guarantee"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "title_accent_color",
      "label": "Title accent color",
      "default": "#9D9FA9"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 320,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 320,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Title",
          "default": "Feature title"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
          "default": "Get specialist care in a minute with our podiatrist-designed assessment and 3D scan"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Feature multicolumn row",
      "category": "STRIDE",
      "settings": {
        "title": "How Stride <strong>Helps</strong>",
        "button_url": "",
        "button_label": "",
        "disclaimer": "",
        "background_color": "#ffffff",
        "text_color": "#000000",
        "title_accent_color": "#9d9fa9",
        "padding_top": 36,
        "padding_bottom": 36
      },

      "blocks": [
        {
          "type": "feature",
          "settings": {
            "icon": "shopify://shop_images/svg-clock_0eddc2bf-7257-4f56-9f56-3842951d4003.svg",
            "title": "Reduces Pain",
            "text": "From flat feet to plantar fasciitis, our master podiatrists have seen it all"
          }
        },
        {
          "type": "feature",
          "settings": {
            "icon": "shopify://shop_images/svg-discount_0b405d85-50ec-40ec-b048-3541d13a8bf7.svg",
            "title": "Strengthens feet",
            "text": "Sensorimotor orthotics stimulate muscles through targeted proprioception"
          }
        },
        {
          "type": "feature",
          "settings": {
            "icon": "shopify://shop_images/svg-money.svg",
            "title": "Prevent Injury",
            "text": "With less strain on your vulnerable knees and ankles"
          }
        },
        {
          "type": "feature",
          "settings": {
            "icon": "shopify://shop_images/svg-truck_43626673-258b-4eb3-a721-44ceb8345f5f.svg",
            "title": "Improve Posture",
            "text": "Stand in a more neutral stance and walk with less over/under pronation"
          }
        }
      ]
    }
  ]
}
{% endschema %}
